/* --- NAV --- */
.navbar {
	background-color: rgba(32, 35, 41, 0.9);
	font-family: 'Raleway';
	font-size: 12px;
	height: 35px;
	min-height: 40px;
}
.navbar-brand {
	font-size: 26px;
	font-family: "Amatic SC", cursive;
	font-weight: 900;
	color: red !important;
	padding-top: 9px;
}
ul.nav a  {
	color: white !important;
	padding-top: auto;
	padding-top: 10px;
}
ul.nav a:active  {
	color: red !important;
}
ul.nav a:hover  {
	color: red !important;
}
ul.dropdown-menu a  {
	color: black !important;
	font-size: 11px;
}

li.social-icon {
	margin-left: -8px;
	margin-right: -8px;
	padding-left: -8px;
	padding-right: -8px;
}
.jumbotron {
	max-height: 200px;
	background-image: url('../images/graffiti.jpg');
	background-size: 1300px;
	background-attachment: scroll;
}

.headings  {
	font-style: none;
	color: white;
	text-align: right;
	font-family: "Amatic SC", cursive;
}
.jumbotron h1 {
	font-size: 80px;
	font-weight: 900;
	line-height: 80px;
}
.jumbotron h2 {
	font-family: "Amatic SC", cursive;
	font-style: italic;
	font-size: 50px;
	font-weight: 900;
	line-height: 6px;
	margin-top: 0;
}
/* --- END NAV --- */

/* --- CONTENT --- */
h1  {
	font-family: 'Amatic SC', cursive;
}

h2  {
	font-family: 'Raleway';
}

h4  {

}


p  {
	font-family: 'Raleway';
	font-size: 13px;
}

#buzz  {
	margin-bottom: 20px;
}

#buzz a  {
	color: rgba(189, 0, 0, 1);
}
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail:hover {
    background-color: rgba(229, 229, 229, .4);
}

.votes {
    font-size: 47px;
    color: #197BB5;
    padding: 10px;
}

.thumbnail img {
    width: 100%;
}
/* --- END FORMATTING --- */


/* --- FOOTER --- */
#page-footer {
	background-color: rgba(32, 35, 41, 0.9);
	color: #ddd;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	height: 100px;
}

.btn  {
	background-color: rgba(255, 0, 0, 0.7);
}
#signup  {
	margin-top: 0px;
}
#credit  {
	background: rgba(189, 0, 0, 1);
	margin-top: 80px;
}
#credit a  {
	color: rgba(235, 235, 235, 1);
}
.ft-text  {
	font-family: 'Raleway';
	font-size: 13px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  #credit {
    margin-top: 20px;
  }
}