header {
  text-align: center;
  background-color; white;
  background-size: cover;
  background-image: url("../images/graffiti.jpg");
  height: 200px;
}

/* --HEADER TEXT-- */
h1  {
  font-size: 80px;
  font-weight: 900;
  font-style: none;
  text-align: right;
  font-family: "Amatic SC", cursive;
  color: rgba(255,255,255,1);
  padding-bottom: 10px;
  margin: 35px 80px 40px 0;
  line-height: 40px;
}

h1 a  {
  text-decoration: none;
  color: white;
  font-size: 80px;
}
.subtitle  {
  font-size: 50px;
}
/* --END: HEADER TEXT-- */

h2  { 
  font-family: "Amatic SC", cursive; 
  font-size: 40px;
} 

h3  {
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
  padding: 2px 0px 2px 5px;
  background-color: rgba(5,70,5,0.8);
  color: white;
}

big  {
  text-decoration: none;
  color: black;
  font-family: "Amatic SC", cursive; 
  font-size: 20px;
}

img  {
  margin: 15px auto 0px;
}

a  {
  text-decoration: none;
  color: rgba(5,70,5,0.8);
  font-family: "Amatic SC", cursive; 
  font-size: 20px;
}

p  {
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  text-align: justify;
}

article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
  font-size: 14px;
}
      
/* --Work on link effect for .main-nav-- */
.main-nav {
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
}
.main-nav a {
  color: white;
  display: inline;
  padding: 0px 15px 0px 15px;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  text-decoration: none;
}

/* --MEDIA-- */
@media (max-width: 500px;) {
  h1 {
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
    font-size: 10px;
  }
}


/* --CONTRIBUTORS & ABOUT-- */
.profile  {
  border: 2px solid black;
  display: inline;
  margin: 50px auto;
  padding: 0 30px;
  max-width: 330px;
}
.profile h2  {
  font-size: 60px;
  margin: 0;
  padding: 0;
  letter-spacing: 5px;
}
.profile img  {
  margin-top: 0pc;
}

#col1  { float: left; margin-left: 175px; }
#col2  { float: right; margin-right: 175px;}

.social-icon  a {
  color: black;
}








